services:
  db:
    image: postgres:16-alpine
    container_name: db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    volumes:
      - db:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro

volumes:
  db:
  minio_storage:
